<% provide(:title, 'help') %>
<div class="container">
  <h1>help</h1>
  <p>
    このページの作成過程はブログ
    <a href="http://new-village.hatenablog.com/">新しい村</a>
    で記録しています。また、このソースコードは、
    <a href="https://github.com/Kzki/xapp9">こちら</a>
    から確認することができます。
  </p>
</div>