<div class="row">
  <aside class="col-md-2">
    <ul class="nav nav-pills nav-stacked">
      <li class="active"><a href="#"><span class="badge pull-right"><%= @main.where(:read_flg=>"f").count %></span>未読</a></li>
    </ul>
    <%= render "site" %>
  </aside>

  <div class="col-md-10">
    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <%= render @main.where(:read_flg=>"f") %>
      </div>
    </div>
  </div>
</div>
