<div class="row">
  <aside class="col-md-2">
    <div class="nav-top"><%= render 'shared/navmenu' %></div>
    <div class="nav-middle"><%= render 'shared/addsite' %></div>
    <div class="nav-bottom"><%= render 'shared/sitelist' %></div>
  </aside>

  <div class="col-md-10">
    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <%= render @main.where(:read_flg=>"f") %>
      </div>
    </div>
  </div>
</div>
