@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 50px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  font-weight: bold;
}

h1.title {
  padding-bottom: 20px;
}

.bold {
  font-weight: bold;
}

/* header */

.navbar-brand {
  margin-right: 10px;
  font-size: 1.7em;
  color: white !important;
  text-transform: uppercase;
  letter-spacing: -1px;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.navbar-btn {
  margin-left: 10px;
}

.dropdown:hover .dropdown-menu {
  display: block;
}
.dropdown-menu {
  margin-top: 0px;
}

a.bold {
  color: white !Important;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $gray-light;
  text-align: center;
}

/* home */
.jumbotron {
  text-align: center;
}

/* login */
.login {
  margin-top: 20px;
  padding: 10px 45px 30px;
  border: 1px solid $grayMediumLight;
  border-radius: 10px;        /* CSS3草案 */  
  -webkit-border-radius: 10px;    /* Safari,Google Chrome用 */  
  -moz-border-radius: 10px;   /* Firefox用 */  
}

input[type="checkbox"] {
  margin-left: 0px !important;
}